<section class="hero hero-decor">
  <div class="container">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're <br />
      always designing and building products that <br />
      will help you run your business better.
    </p>
  </div>
  <div class="container hero__wrapper">
    <ul class="hero__slider-control">
      <li class="hero__slider-control-item">
        <button
          class="hero__slider-control-button text-p-default"
          type="button"
          data-filter="all"
        >
          View all
        </button>
      </li>
      <li class="hero__slider-control-item">
        <button
          class="hero__slider-control-button text-p-default"
          type="button"
          data-filter=".design"
        >
          Design
        </button>
      </li>
      <li class="hero__slider-control-item">
        <button
          class="hero__slider-control-button text-p-default"
          type="button"
          data-filter=".articles"
        >
          Articles
        </button>
      </li>
      <li class="hero__slider-control-item">
        <button
          class="hero__slider-control-button text-p-default"
          type="button"
          data-filter=".product"
        >
          Product
        </button>
      </li>
      <li class="hero__slider-control-item">
        <button
          class="hero__slider-control-button text-p-default"
          type="button"
          data-filter=".software-dev"
        >
          Software Development
        </button>
      </li>
      <li class="hero__slider-control-item">
        <button
          class="hero__slider-control-button text-p-default"
          type="button"
          data-filter=".customer-success"
        >
          Customer Success
        </button>
      </li>
    </ul>
    <div class="hero__slider swiper">
      <div class="hero__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="hero__slider-wrapper swiper-wrapper">
        <div
          class="hero__slider-slide swiper-slide mix articles software-dev"
          data-order="1"
        >
          <img
            width="515"
            height="428"
            src="./assets/image/blog-hero-slide-1.jpg"
            alt="A women working"
            class="hero__slider-slide-img"
            loading="lazy"
          />
          <div class="hero__slider-slide-head">
            <div class="hero__slider-slide-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="hero__slider-slide-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="hero__slider-slide-descr text-p-large">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div
          class="hero__slider-slide swiper-slide mix design customer-success"
          data-order="2"
        >
          <img
            width="515"
            height="428"
            src="./assets/image/blog-hero-slide-2.jpg"
            alt="Two women working with laptop"
            class="hero__slider-slide-img"
            loading="lazy"
          />
          <div class="hero__slider-slide-head">
            <div class="hero__slider-slide-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="hero__slider-slide-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="hero__slider-slide-descr text-p-large">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div
          class="hero__slider-slide swiper-slide mix product software-dev"
          data-order="3"
        >
          <img
            width="379"
            height="428"
            src="./assets/image/blog-hero-slide-3.jpg"
            alt="Two people giving five"
            class="hero__slider-slide-img"
            loading="lazy"
          />
          <div class="hero__slider-slide-head">
            <div class="hero__slider-slide-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>

          <h3 class="hero__slider-slide-title heading-h5">
            Using Grid in website design
          </h3>
          <p class="hero__slider-slide-descr text-p-large">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
